@import "colors";
@import "fonts";

.mealAddPage {

	font-family: $istok;

	margin-top: 80px;

	h2, h3 {
		font-family: $dancing;
		color: $burgundy;
	}

	.menuInput {
		margin-top: 10px;
	}


	.cooks {
		padding-right: 12px;
	}

	.checkBoxSection {

		padding-left: 35px;

		.checkbox {
			margin-top: 0;
		}
	}


	.btn {
		margin-top: 0;
		padding-top: 0;
		margin-right: 10px;
	}
}
