@import "colors";
@import "fonts";

.mealSignUpPage {

	font-family: $istok;

	margin-top: 80px;

	h2, h3 {
		font-family: $dancing;
		color: $burgundy;
	}

	h3.menuHead {
		margin-top: 0;
		margin-bottom: 0;
	}


	.mealInfo {

		.menuHead {
			font-family: $dancing;
			font-size: 1.2em;
			color: $burgundy;
		}

		.menuData {
			font-size: 1.5em;
		}

		.thisCook {
			padding-right: 7px;
		}
	}


	.checkBoxSection {

		padding-left: 35px;
	}


	.guestListSection {

		h3 {
			margin-top: 89px;
		}
	}


	.guestListTable {

		background-color: $lightbluegray;

		.tableHead {
			font-weight: 900;
		}

		th, td {
			text-align: center;
		}
	}

}
