@import "colors";
@import "fonts";

.mealsListPage {
	
	font-family: $istok;

	margin-top: 80px;

	.profilePic {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	h3 {
		display: inline;
	}

	h1 {
		font-family: $dancing;
	}

	.hiUser {
		font-family: $dancing;
		font-style: italic;
	}


	table {

		background-color: $lightbluegray;

		.tableHead {
			font-weight: 900;
		}

		td {

			.signUpButton {
				padding-right: 5px;
			}

			.thisDate {
				padding-right: 0;
			}

			.thisCook {
				padding-right: 7px;
			}

		}
	}

	.signUpTable {
		margin-top: 50px;
	}

}