@import "colors";
@import "fonts";

.navbar {

	background-color: $lightbluegray;

	li {

		a:link {
			color: $darkblue;
		}

		a:hover {
			color: $burgundy;
		}

		a:active {
			color: $darkbluegray;
		}
		
	}


	.logo {
		display: inline-block;
		width: 50px;
		margin-top: -8px;
	}

	.navbar-header {
		a:link {
			color: $burgundy;
		}

		.navbar-brand {
			font-size: 1em;
		}
	}

}
