@import "colors";
@import "fonts";

.jumbotron {

	.navbar {

		background-color: $lightbluegray;

		li {

			a:link {
				color: $darkblue;
			}

			a:hover {
				color: $lightgray;
			}

			a:active {
				color: $burgundy;
			}
			
		}


		.logo {
			display: inline-block;
			width: 50px;
			margin-top: -8px;
		}

		.navbar-header {
			a:link {
				color: $darkblue;
			}

			.navbar-brand {
				font-size: 1em;
			}
		}

	}
}