@import "fonts";
@import "colors";
@import "navbar";
@import "auth";
@import "meals-list";
@import "meal-view";
@import "meal-add";
@import "meal-signup";

body {
	background-size: cover;
	background-image: url("/images/background9.jpg");
	font-family: $istok;
	max-width: 100%;
}