
<div class="container mealsListPage">

 
  <img src="{{thisUser.profilePicURL}}" class="profilePic">
  <h3 class="hiUser">Hi {{thisUser.username}}</h3>

  
  <h1 class="tableTitle">Meals On Tap</h1>
  <table class="table table-sm">
    <thead class="tableHead">
      <tr>
        <th class="tableHead">Sign Up</th>
        <th>Meal Date</th>
        <th>Time</th>
        <th>Cook Team</th>
        <th>Menu</th>
        <th>Veggie Option</th>
      </tr>
    </thead>
    <tbody>

      <tr class="info" ng-repeat="meal in meals | isAfter:date | filter:{signedUp:false}" ng-if="meal.signedUp !== null">
        
        <td><a href="#!/meal/signup/{{meal.id}}"><button ng-show="isAfterDeadline(meal)" type="button" class="btn btn-primary btn-xs signUpButton">Sign Up</button></a></td>

        <td class="thisDate"><a href="#!/meal/view/{{meal.id}}">{{meal.mealDate | date : format : shortDate}}</a></td>

        <td>{{meal.time}}</td>

        <td class="cookNames"><span class="thisCook" ng-repeat="cookName in meal.cookNames">{{cookName}} </span></td>
        
        <td>{{meal.menu}}</td>
        <td>{{meal.veggie}}</td>
      </tr>
    </tbody>
  </table>


  <div class="signUpTable">
    <h1 class="tableTitle">Meals You've Signed Up For</h1>
    <table class="table table-condensed">
        <tr>
          <th>Edit/Delete Your Sign-Ups</th>
          <th>Meal Date</th>
          <th>Time</th>
          <th>Cook Team</th>
          <th>Menu</th>
          <th>Veggie Option</th>
        </tr>
      </thead>
      <tbody>
        
        <tr class="active" ng-repeat="meal in meals | filter:{signedUp:true} | isAfter:date" ng-if="meal.signedUp !== null">
          
          <td>
            <a href="#!/meal/signup/edit/{{meal.id}}"><button class="btn btn-primary btn-xs signUp">Edit Sign-Up</button></a>
            
            <button class="btn btn-warning btn-xs signUp" ng-click="deleteSignUp(meal.id)">Delete Sign-Up</button>
          </td>

          <td class="thisDate"><a href="#!/meal/view/{{meal.id}}">{{meal.mealDate | date : format : shortDate}}</a></td>
          
          <td>{{meal.time}}</td>

          <td class="cookNames"><span class="thisCook" ng-repeat="cookName in meal.cookNames">{{cookName}} </span></td>

          <td>{{meal.menu}}</td>
          <td>{{meal.veggie}}</td>
        </tr>

      </tbody>
    </table>
  </div> <!-- .signUpTable -->

</div>
