
<div class="container">

  <h4>Hi {{thisUser.username}}</h4>
  <h4>Meals On Tap</h4>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Sign Up</th>
        <th>Meal Date</th>
        <th>Time</th>
        <th>Cook Team</th>
        <th>Menu</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="meal in meals | isAfter:date">
      <!-- <tr ng-repeat="meal in meals | isAfter:date | filter: isSignedUp"> -->
      <!-- <tr ng-repeat="meal in meals" | filter: deadlineFilter | filter: signUpFilter> -->
        <!-- <th scope="row">1</th> -->
        
        <td><a href="#!/meal/signup/{{meal.id}}"><button ng-show="isAfterDeadline(meal)" type="button" class="btn btn-default btn-xs signUp">Sign Up</button></a></td>

        <td><a href="#!/meal/view/{{meal.id}}">{{meal.mealDate | date : format : shortDate}}</a></td>
        <!-- change seed file and use this if implement timepicker in ADD function -->
        <!-- <td>{{meal.time | date: format: shortTime}}</td> -->
        <td>{{meal.time}}</td>

        <section ng-repeat="(cookName, prop) in meals">
          <td class="cookNames"><span ng-repeat="val in cookName" | filter: meal.id">{{cookName}}</span></td>
        </section>
        <!-- <td class="cookNames"><span ng-repeat="val in meal.cookNames[$index] | filter: meal.id">{{val}}</span></td> -->
        <!-- <td class="cookNames"><span ng-repeat="cookName in meal.cookNames | filter: meal.id">{{cookname}}</span></td> -->
        <!-- <td ng-repeat="cook in cooks | filter: meal.id">{{cook.memberId}}</td> -->
        <td>{{meal.menu}}</td>
      </tr>
    </tbody>
  </table>


  <h4>Meals You've Signed Up For</h4>
  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Sign Up</th>
        <th>Meal Date</th>
        <th>Time</th>
        <th>Cook Team</th>
        <th>Menu</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr ng-repeat="meal in meals | isAfter:date | filter: signUps.mealId"> -->
      <tr ng-repeat="meal in meals | isAfter:date | filter: isSignedUp">
      <!-- <tr ng-repeat="meal in meals" | filter: deadlineFilter | filter: signUpFilter> -->
        <!-- <th scope="row">1</th> -->
        
        <td><a href="#!/meal/signup/:{{meal.mealId}}"><button class="btn btn-default btn-xs signUp">Edit Sign Up</button></a></td>

        <td>{{meal.mealDate | date : format : shortDate}}</td>
        <!-- change seed file and use this if implement timepicker in ADD function -->
        <!-- <td>{{meal.time | date: format: shortTime}}</td> -->
        <td>{{meal.time}}</td>
        <td>cook team</td>
        <td>{{meal.menu}}</td>
      </tr>

    </tbody>
  </table>
</div>