<div class="container mealViewPage">
	<div class="row">
		<div class="col-xs-6 mealInfo">

			<h1 class="tableTitle">What's for Dinner?</h1>	
			<h4 class="menuHead"><span class="menuData">{{thisMeal.menu}}</span></h4>
			<h4 class="menuHead">Veggie Option: <span class="menuData">{{thisMeal.veggie}}</span></h4>

			<table class="table mealTable">
				<tr class="mealInfo">
					<td class="mealLabel">Meal Date:</td>
					<td class="mealValue">{{thisMeal.mealDate | date : format : shortDate}}</td>
				</tr>
				<tr>
					<td class="mealLabel">Time:</td>
					<td class="mealValue">{{thisMeal.time}}</td>
				</tr>
				<tr>
					<td class="mealLabel">Sign-Up Deadline:</td>
					<td class="mealValue">{{thisMeal.deadline | date : format : shortDate}}</td>
				</tr>
				<tr >
					<td class="mealLabel">Cook Team:</td>
					<td class="mealValue"><span ng-repeat="cook in cooks" class="cooks">{{cook}} </span></td>
				</tr>
				<tr>
					<td class="mealLabel">Expected Cost:</td>
					<td class="mealValue">${{thisMeal.estCost}}</td>
				</tr>
				<tr>
					<td class="mealLabel">Comments:</td>
					<td class="mealValue">{{thisMeal.comments}}</td>
				</tr>
				<tr>
					<td class="mealLabel">Actual Cost:</td>
					<td class="mealValue">tbd</td>
				</tr>
			</table>
			
						
			<a href="#!/meal/edit/{{thisMeal.id}}"><button type="button" class="btn btn-primary btn-xs editMeal" ng-click="editMeal(meal.id)">Edit Meal</button></a>

		    <button type="button" class="btn btn-warning btn-xs deleteMeal" ng-click="deleteMeal(thisMeal.id)">Delete Meal</button>
		</div> <!-- .col -->

		<div class="col-xs-6 guestListSection">
			<div ng-show="user.uid !== signUp.memberId">
				<h1 class="tableTitle">Guest List <a href="#!/meal/signup/{{thisMeal.id}}"><button class="btn btn-primary btn-xs signUpButton pull-right">Sign Up</button></a></h1>
			</div>
		
			<table class="table guestListTable">
			    <thead class="thead-default tableHead">
					<tr>
				       <th></th>
				       <th></th>
				       <th># Adults</th>
				       <th># Children</th>
				       <th>Regular Meal</th>
				       <th>Veggie</th>
					</tr>
			    </thead>

			    <tbody>
			    	<tr class="info" ng-repeat="signUp in signUps | filter: thisMeal.id">
			        
			        	<td ng-show="user.uid === signUp.memberId">
			        		<a href="#!/meal/signup/edit/{{thisMeal.id}}"><button type="button" class="btn btn-primary btn-xs signUp">Edit Sign-Up</button></a>

			        		<button class="btn btn-warning btn-xs signUp" ng-click="deleteSignUp(thisMeal.id)">Delete Sign-Up</button>
		        		</td>
		        		<td ng-show="user.uid !== signUp.memberId"></td>

				        <td>{{signUp.name}}</td>
				        <td>{{signUp.adults}}</td>
				        <td>{{signUp.children}}</td>
				        <td ng-show="signUp.regularMeal">yes</td>
				        <td ng-show="!signUp.regularMeal">no</td>
				        <td ng-show="signUp.veggie">yes</td>
				        <td ng-show="!signUp.veggie">no</td>
			      	</tr>
			    </tbody>
			</table>
		</div> <!-- .col -->
	</div> <!-- .row -->
</div> <!-- .container -->
