<div class="container mealSignUpPage">

    <div class="row newSignUpForm">

        <div class="col-xs-6"> <!-- sign-up col -->
        	<h1 class="tableTitle">Sign-Up Information</h1>

			<!-- sign-up input fields here -->
			<form>
                <div class="form-group">
	                <div class="row">
	                    <div class="checkBoxSection">
	                    	<label for="regMeal" class="checkbox inline">
		                    <input type="checkbox" id="regMeal" name="" ng-model="newSignUp.regularMeal" ng-checked="newSignUp.regularMeal" ng-change="inputChange(newSignUp.id)"/>
		                    Regular Meal</label>

		                    <label for="veggieMeal" class="checkbox inline">
		                    <input type="checkbox" id="veggieMeal" name="" ng-model="newSignUp.veggie" ng-checked="newSignUp.veggie" ng-change="inputChange(newSignUp.id)"/>
		                    Veggie Option</label>
	                	</div>

	                    <div class="col-xs-3">
		                    <input type="text" class="form-control" placeholder="# Adults" ng-model="newSignUp.adults"/>
		                </div>

		                <div class="col-xs-3">
		                    <input type="text" class="form-control" placeholder="# Children" ng-model="newSignUp.children"/>
			            </div>
	                </div> <!-- .row -->


		            <div class="row">
			             <div class="col-xs-10">
			                <input type="text" class="form-control" placeholder="Comments" ng-model="newSignUp.comments"/>
			            </div>
	                </div> <!-- .row -->


	                <div class="row">
		                <div class="col-xs-10 addSignUpButtons" ng-hide="!addFunction">
		                    <button class="btn btn-primary btn-xs pull-right" ng-click="addNewSignUp()">Add Sign-Up</button>

		                    <button type="button" class="btn btn-default btn-xs pull-right"><a ng-href="#!/meals/list">Cancel</a></button>
	                	</div>

		                <div class="col-xs-10 editSignUpButtons" ng-hide="addFunction">
		                    <button class="btn btn-primary btn-xs pull-right" ng-click="addNewSignUp()">Update Sign-Up</button>

		                    <button type="button" class="btn btn-default btn-xs pull-right"><a ng-href="#!/meals/list">Cancel</a></button>
	                	</div>
	                </div> <!-- .row -->


                </div> <!-- .form-group -->
            </form> <!-- form -->

			<div class="guestListSection">
				<h1 class="tableTitle">Guest List</h1>
				<table class="table guestListTable">
				    <thead class="thead-default">
						<tr>
					       <th></th>
					       <th># Adults</th>
					       <th># Children</th>
					       <th>Regular Meal</th>
					       <th>Veggie</th>
						</tr>
				    </thead>

				    <tbody>
				    	<tr ng-repeat="signUp in signUps | filter: thisMeal.id">

					        <td>{{signUp.name}}</a></td>
					        <td>{{signUp.adults}}</td>
					        <td>{{signUp.children}}</td>
					        <td ng-show="signUp.regularMeal">yes</td>
					        <td ng-show="!signUp.regularMeal">no</td>
					        <td ng-show="signUp.veggie">yes</td>
					        <td ng-show="!signUp.veggie">no</td>
				      	</tr>
				    </tbody>
				</table>
			</div> <!-- .guestListSection -->
        </div> <!-- .col -->
    

        <div class="col-xs-5 mealInfo">
	        <h1 class="tableTitle">What's for Dinner?</h1>
	        <h4 class="menuHead">Menu: {{thisMeal.menu}}</h4>
			<h4 class="menuHead">Veggie Option: {{thisMeal.veggie}}</h4>

			<div class="panel panel-default">
				<div class="panel-body">
					<h5 class="dates">Meal Date: {{thisMeal.mealDate | date : format : shortDate}}, {{thisMeal.time}}</h5>
					<h5 class="dates">Sign-Up Deadline: {{thisMeal.deadline | date : format : shortDate}}</h5>

					<h5>Cook Team: 
						<span ng-repeat="cook in cooks" class="cooks">{{cook}} </span></h5>

					<h5>Comments: {{thisMeal.comments}}</h5>
					<h5>Expected Cost: {{thisMeal.estCost | currency}}</h5>
				</div>		
			</div>
        </div> <!-- .col -->
    </div> <!-- .row -->
</div> <!-- .container -->
