@import "colors";
@import "fonts";

.mealViewPage {

	font-family: $istok;

	margin-top: 80px;

	h1 {
		font-family: $dancing;
	}

	.mealInfo {

		.menuHead {
			font-family: $dancing;
			font-size: 1.2em;
			color: $burgundy;
		}

		.menuData {
			font-size: 1.5em;
		}

		.btn { 
			margin-top: 0;
		}
	}


	.panel {

		border: 1px solid $darkbluegray;
		border-radius: 5px;
		background-color: $lightbluegray;

		.panel-body {

			.dates {
				color: $burgundy;
			}

			.cooks {
				padding-right: 12px;
				font-family: $dancing;
				color: $burgundy;
			}
		}
	}


	.btn {
		margin-top: 0;
		padding-top: 0;
	}


	.guestListSection {

		h1 {
			// margin-top: 89px;
		}

		a .signUpButton {
			font-family: $istok;
		}

		button { 
			margin-top: 15px;
		}
	}


	.guestListTable {

		background-color: $lightbluegray;

		.tableHead {
			font-weight: 900;
		}

		th, td {
			text-align: center;
		}

		.buttonTD {
			padding-left: 0;
			padding-right: 0;
		}

		.btn {
			margin-top: 0;
			padding-top: 0;
		}

		.deleteSignUp {
			margin-top: 3px;
		}
	}

}
