@import "colors";
@import "fonts";

.navbar {

	background-color: $lightbluegray;
	font-family: $istok;

	.navbar-nav {
		li {

			a:link {
				color: $darkblue;
			}

			a:hover {
				color: $burgundy;
			}

			a:active {
				color: $darkbluegray;
			}
			
		}
	}


	.logo {
		display: inline-block;
		width: 50px;
		margin-top: -8px;
	}


	.navbar-header {

		.navbar-brand {
			font-size: 1em;
			color: $burgundy;
		}
	}
}
