.navbar .logo {
  display: inline-block;
  width: 50px;
  margin-top: -8px; }

.navbar .navbar-brand {
  font-size: 1em; }

table td .cookNames {
  padding-right: 5px; }

body {
  background-color: #EBF2F5; }
