.navbar .logo {
  display: inline-block;
  width: 50px;
  margin-top: -8px; }

.navbar .navbar-brand {
  font-size: 1em; }

.mealsListPage {
  font-family: "Istok Web", sans-serif;
  color: blue; }
  .mealsListPage .hiUser {
    font-style: italic; }

table .tableLabel {
  font-weight: 900; }

table td .cookNames {
  padding-right: 5px; }

body {
  background-color: #EBF2F5; }
